{% extends "courses/course_dashboard.html" %}

{% block dashboard_content %}
<div class="well">
    {% for announcement in announcements  %}
    <h2>
        <a href="{% url 'courses:show_announcement' course.slug announcement.pk %}">
        {{ announcement.title }}
        </a>
    </h2>
    {{ announcement.content|linebreaks }}
    <p>
        <a href="{% url 'courses:show_announcement' course.slug announcement.pk %}#comments" title="">
        <i class="fa fa-comments-o"></i>
        {% with comments_count=announcement.comments.count %}
        {{ comments_count }} 
        Comentário{{ comments_count|pluralize }}
        {% endwith %}
        </a>
    </p>
    {% empty %}
        <h2>Nenhum anúncio criado.</h2>
    {% endfor %}
</div>
{% endblock %}