{% extends "courses/course_dashboard.html" %}

{% block breadcrumb %}
    {{ block.super }}
    <li></li>
    <li><a href="{% url 'courses:announcements' course.slug %}">{{ course }}</a></li>
    <li><a href="{% url 'courses:lesson' course.slug lesson.pk %}">{{ lesson }}</a></li>
    <li><a href="{% url 'courses:material' course.slug material.pk %}">{{ material }}</a></li>
{% endblock breadcrumb %}

{% block dashboard_content %}
<div class="well">
	<h2><a href="{% url 'courses:material' course.slug material.pk %}">{{ material }}</a></h2>
	{{ material.embedded|safe }}
	<p><a href="{% url 'courses:lesson' course.slug lesson.pk %}">Voltar</a></p>
</div>
{% endblock dashboard_content %}
