{% extends "courses/course_dashboard.html" %}

{% block breadcrumb %}
    {{ block.super }}
    <li></li>
    <li><a href="{% url 'courses:show_announcements' course.slug announcement.pk %}">{{ announcement }}</a></li>
{% endblock breadcrumb %}


{% block dashboard_content %}
<div class="well">
    <h2>{{ announcement.title }}</h2>
    {{ announcement.content|linebreaks }}
</div>
<div class="well">
    <h4 id="comments">Comentários
    <a class="fright" href="#add_comment">Comentar</a></h4>
    <hr />
    {% for comment in announcement.comments.all %}
    <p>
        <strong>{{ comment.user }}</strong> disse à {{ comment.created_at|timesince }} dias atrás: <br />
        {{ comment.comment|linebreaksbr}}
    </p>
    <hr />
    {%empty %}
    <p>
        Nenhum comentário para este anúncio
    </p>
    {% endfor %}
    <form method="post" class="pure-form pure-form-stacked" id="add_comment">
        {% csrf_token %}
        <fieldset>
            {{ form.non_field_errors }}
            {% for field in form %}
            <div class="pure-control-group">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %}
            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Enviar</button>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}