{% extends "courses/course_dashboard.html" %}

{% block dashboard_content %}
	<form action="" method="POST">
		{% csrf_token %}
		<h3>Você deseja realmente cancelar a inscrição deste curso?</h3>
		<div class="pure-controls">
			<button type="submit" class="pure-button pure-button-primary">Confirmar</button>
			<a href="{% url 'courses:undo_enrollment' course.slug %}" class="pure-button">Voltar</a>
		</div>
	</form>

{% endblock %}