{% extends "base.html" %}

{% load courses_tags %}

{% block content %}
{% load_my_courses user as enrollments %}
<div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
        <ul class="breadcrumb">
            {% block breadcrumps %}
            {{ block.super}}
            <li><a href="{% url 'accounts:dashboard' %}">Meu Painel</a></li>
            {% endblock %}
        </ul>
    </div>
    <div class="pure-u-1-3">
        <div class="pure-menu pure-menu-open">
            <ul>
                <li class="pure-menu-heading">Bem Vindo, {{ user }} </li>
                {% block menu_options %}
                <li class="pure-menu-heading">Cursos</li>
                {% for enrollment  in enrollments %}
                <li>
                    <a href="{% url 'courses:announcements' enrollment.course.slug %}">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    {{ enrollment.course }}
                    </a>
                </li>
                {% empty %}
                <li>Nenhum curso encontrado</li>
                {% endfor %}
                <li class="pure-menu-heading">Conta</li>
                <li>
                    <a href="{% url 'accounts:edit' %}">
                    <i class="fa fa-info" aria-hidden="true"></i>
                    Editar Informações</a>
                    </li>
                <li>
                    <a href="{% url 'accounts:edit-password' %}">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    Editar Senha
                    </a>
                </li>
                {% endblock menu_options %}
            </ul>
        </div>
    </div>
    <div class="pure-u-2-3">
        <div class="inner">
            {% block dashboard_content %}
                <h2>Meus Cursos</h2>
                {% for enrollment in enrollments %}
                <div class="well">
                    <h3>{{ enrollment.course }} 
                    ({{ enrollment.course.start_date|date:'d/m/Y'|default:'Sem data' }})</h3>
                    {{ enrollment.course.description|linebreaks}}
                    <div class="pure-controls">
                        <a href="{% url 'courses:announcements' enrollment.course.slug %}" class="pure-button pure-button-primary">Acessar</a>
                        <a href="{% url 'courses:undo_enrollment' enrollment.course.slug %}" class="pure-button button-error">Cancelar</a>
                    </div>
                </div>
                {% empty %}
                <aside class="pure-u-1">
                    <p>Nenhum curso inscrito</p>
                </aside>
                {% endfor %}

            {% endblock %}
        </div>
    </div>
</div>    
{% endblock %}
