{% extends "accounts/dashboard.html" %}

{% block breadcrumbs %}
    {{ block.super }}
	<li>/</li>
	<li><a href="{% url 'accounts:edit' %}">Editar Conta</a></li>
{% endblock  %}

{% block dashboard_content %}
<form class="pure-form pure-form-stacked" method="POST">
	{% csrf_token %}
    <fieldset>
    	{{ form.non_field_errors }}
    	{% for field in form  %}
        <div class="pure-control-group">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        </div>
    	{% endfor %}
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Enviar</button>
        </div>
    </fieldset>
</form>

{% endblock  %}